@import "About";
@import "Portfolio";
@import "colors";
@import "Home";
@import "Footer";
@import "Error";
@import "Modal";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    background: $color4;
    font-family: 'Open Sans', sans-serif;
    color:$color2;
}
#root{
    min-height: 100vh;
    position: relative;
}
main{
    padding-bottom: 163.969px;
}
.wrapper{
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}
.wait-screen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: transparentize($color3, .2);
    z-index: 100;
}
.wait-screen span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: $color4;
    z-index: 101;
}
